{% include 'navbar.html' %}
<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<link href='{{url_for('static', filename='login_form/css/style.css')}}' rel="stylesheet" type="text/css" media="all"/>
<script src='{{url_for('static', filename='login_form/js/scripting.js')}}'></script>

<!------ Include the above in your HEAD tag ---------->
<head></head>
<html>
<body>
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-center">
								<a href="#edit-form" id="register-form-link">Edit Profile</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="edit-form" action="" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Name" value="{{ data['uname'] }}">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="{{ data['email'] }}" readonly>
									</div>
                                    <div class="form-group">
										<input type="number" name="age" id="age" tabindex="1" class="form-control" placeholder="Age" value="{{ data['age'] }}">
									</div>
                                    <div class="form-group">
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Action" value="Action">Action</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Comedy" value="Comedy">Comedy</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Adventure" value="Adventure">Adventure</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Animation" value="Animation">Animation</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Children" value="Children">Children</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Crime" value="Crime">Crime</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Documentary" value="Documentary">Documentary</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Drama" value="Drama">Drama</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Fantasy" value="Fantasy">Fantasy</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" id="Film-Noir" value="Film-Noir">Film-Noir</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" class="Horror" value="Horror">Horror</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" class="Musical" value="Musical">Musical</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" class="Mystery" value="Mystery">Mystery</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" class="Romance" value="Romance">Romance</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" class="Sci-Fi" value="Sci-Fi">Sci-Fi</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" class="Thriller" value="Thriller">Thriller</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" class="War" value="War">War</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="pref" class="Western" value="Western">Western</label>
									</div>
                                    <div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="edit-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Save Changes">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
{#            <div class="col-md-6 col-md-offset-3">#}
{#                {% include 'movie_list.html' %}#}
{#            </div>#}
		</div>
	</div>
</body>

<script>
   window.onload = loadcheck("{{ data['pref'] }}");

       function loadcheck(preferences) {
{#        var preferences = {{ ','.join(data['pref']) }}#}
        var x,pref;
        pref = preferences.split(" | ")
        console.log(pref)
        for(x in pref){
            document.getElementById(pref[x]).checked = true;
        }
        console.log('done')
    }

$(document).ready(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[id='edit-form']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      name: "required",
      email: {
        required: true,
        // Specify that email should be validated
        // by the built-in "email" rule
        email: true
      },
      age:{
          required:true
      },
      password: {
        required: true
      },
      pref: {
          required:true
      }
    },
    // Specify validation error messages
    messages: {
      name: "Please enter your firstname",
      age: "Please enter age",
      password: {
        required: "Please provide a password"
      },
      email: "Please enter a valid email address",
      pref: {
        required: "Please select at least one genre"
      }
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
      form.submit();
    }
  });
});
</script>
</html>