<!DOCTYPE html>
<html lang="en">
<head>
  <title>MoVRec</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'navbar.html' %}

{% if 'is_authenticated' in session and session['is_authenticated']%}

    <div class="container">
  <h1 align="center">Welcome to the MoVRec</h1>
  {% if data is not none %}
      <h3>Recommendations based on your ratings:</h3>
    {% include 'movie_list.html' %}
  {% endif %}

  <h3>Based on your Preferences:</h3>
  <table id="mov_table1" align="center" cellpadding=10 cellspacing=3>
      <tr id="heading">
          <th>Movie ID</th>
          <th>Movie Name</th>
          <th>Genre</th>
      </tr>
      {% for item in gen_list %}
            <tr>
                <td><a href="/rating/{{ item['mid'] }}">{{ item['mid'] }}</a></td>
                <td>{{ item['mname'] }}</td>
                <td>{{ item['genre'] }}</td>
            </tr>
      {% endfor %}
  </table>
</div>
    <style>
        table{
            width:100%;
        }
    </style>
{% else %}
<div class="container">
  <h1 align="center">Welcome to the MoVRec</h1>
  <p align="center">An online Movie Recommender System</p>
</div>
{% endif %}
</body>

</html>