<!DOCTYPE html>
<html lang="en">
<head>
  <title>MoVRec</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'navbar.html' %}

{% if 'is_authenticated' in session and session['is_authenticated']%}

    <div class="container">
  <h1 align="center">Welcome to the MoVRec</h1>
  <table align="center" cellpadding=10 cellspacing=3>
      <tr>
          <th>Movie ID</th>
          <th>Movie Name</th>
          <th>Genre</th>
      </tr>
{#      <form id="rating-form" action="/rating" method="get" role="form" style="display: block;">#}
      {% for item in data %}
            <tr class="clickable-row" data-href="/rating"  data-mid="{{item['mid']}}" method=GET>
                <td>{{ item['mid'] }}</td>
                <td>{{ item['mname'] }}</td>
                <td>{{ item['genre'] }}</td>
            </tr>
      {% endfor %}
{#      </form>#}
  </table>
</div>
{% else %}
<div class="container">
  <h1 align="center">Welcome to the MoVRec</h1>
  <p align="center">An online Movie Recommender System</p>
</div>
{% endif %}
</body>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
       // window.location = $(this).data("href");
        var mid = $(this).data("mid");
{#        alert(mid);#}
    $.get( $(this).data("href"), { 'mid':mid });
    });
});
</script>
</html>